/*color of header #2E2F42 */
/*color of text #434455 */
/*colot of accent #4D5AE5 */

:root {
    --dark: #2E2F42;
    --text: #434455;
    --primary-brand: #4D5AE5;
    --basik-white: #ffffff;
    --pressed-state: #404BBF;
    --light: #F4F4FD;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
    --transition-basic: color 250ms var(--cubic);

}


body { 
    color: var(--text);
    background-color: var(--basik-white);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
    font-size: 16px;
}

h1, h2, h3, h4, h5 {
margin-top: 0;
margin-bottom: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

button {
    cursor: pointer;
}

/* ЗАГАЛЬНІ */

.list {
    list-style: none;
}

.link {
text-decoration-line: none;
}

.subtitle {
        color: var(--dark);
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.img {
    display: block;
}

/* ЛОГО */

header {
    border-bottom: 1px solid #E7E9FC;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand);
}


.logo-white {
    color: var(--light);
}

.logo-dark {
    color: var(--dark);
}

.header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.header>.container {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-list {
    display: flex;
    margin-left: 76px;

    font-weight: 500;
    line-height: 1.5;
    text-decoration-line: none;
}

.menu-list .item:not(:last-child) {
    margin-right: 40px;
}


.menu-item {
    position: relative;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--dark);
    transition: color 250ms var(--cubic);
}

.current {
    color: var(--pressed-state);
}

.current::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 4px;
    background-color: var(--pressed-state);
    border-radius: 2px;

    transform: translateY(4px);
}

.menu-item:hover,
.menu-item:focus,
.menu-item:active {
    color: var(--pressed-state);
}

.contact {
    font-style: normal;
    margin-left: auto;
}

.contact-list {
    display: flex;

}

.contact-list .item:not(:last-child) {
    margin-right: 40px;
}

.contact-item {
    color: inherit;
    line-height: 1.5;
    transition: color 250ms var(--cubic);
}

.contact-item:hover,
.contact-item:focus,
.contact-item:active {
    color: var(--pressed-state);
}

.hero {
    background: var(--dark);
    text-align: center;
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;

    background-image: 
    linear-gradient(to top, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);

    background-repeat: no-repeat;
    background-size: cover;

}

.hero-title {
    color: var(--basik-white);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-left: auto;
    margin-right: auto;
    width: 496px;
}


.advantages {
    padding-top: 120px;
    padding-bottom: 120px;
}

.advantades-list {
    display: flex;
}

.advantages-item {
    width: calc((100% - 72px) / 4);
}

.advantages-icon {
    display: flex;
    height: 112px;
    background-color: var(--light);
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.advantages-icon-img {
    width: 64px;
    height: 64px;
}



.advantages-item:not(:last-child) {
    margin-right: 24px;
}


.section-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.description {
margin-top: 8px;

    line-height: 1.5;
    color: var(--text);
}

.team {
    background: var(--light);
}

.servis {
    padding-bottom: 120px;
}

.servis-list {
    display: flex;
    margin-top: 72px;
}

.servis-title,
.team-title,
.customers-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--dark);
    text-align: center;
    text-transform: capitalize;
}

.servis-item:not(:last-child) {
    margin-right: 24px;
}

.team {
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-list {
    display: flex;
    margin-top: 72px;
}


.team-member {
    background: var(--basik-white);
    text-align: center;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-member:not(:last-child) {
    margin-right: 24px;
}


.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;

}

.social-list-item {
    width: 40px;
    height: 40px;
}


.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--primary-brand);
    color: var(--light);
    transition: background-color 250ms var(--cubic);
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: var(--pressed-state);
}

.social-list-icon {
    fill: currentColor;
}


.team-wrap>.description {
    margin-bottom: 8px;
}


.team-wrap {
    padding-top: 32px;
    padding-bottom: 32px;
}


.customers {
    padding-top: 120px;
    padding-bottom: 120px;
}

.customers-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 72px;
}

.customers-item{
    width: calc((100% - 5 * 24px) / 6);
}


.customers-link {
    display: flex;
    width: 100%;
    height: 88px;
    justify-content: center;
    align-items: center;
    color: #8E8F99;
    border: 1px solid #8E8F99;
    border-radius: 4px;

    transition: border 250ms var(--cubic), color 250ms var(--cubic);
}

.customers-icon {
    width: 104px;
    height: 56px;
    fill: currentColor;
}

.customers-link:hover,
.customers-link:focus {
    border: 1px solid #404BBF;
    color: var(--pressed-state);
}


.footer {
    background: var(--dark);
    padding-top: 101px;
    padding-bottom: 100px;

}

.footer>.container {
    display: flex;
    gap: 120px;
}

.footer-content {
    width: 264px;
}

.slogan {
    margin-top: 18px;
    color: var(--light);
    line-height: 1.5;
}

.footer-social {
    width: 208px;
}

.social-title {
    color: var(--basik-white);
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
    margin-bottom: 16px;
}

.social-list-footer {
    display: flex;
    gap: 16px;
}

.social-list-footer .social-list-link:hover {
    background-color: #31D0AA;
}



/*СТОРІНКА ПОРТФОЛІО*/

.portfolio {
   padding-top: 96px;
   padding-bottom: 120px; 
}

.button-filter {
    display: flex;
    justify-content: center;
    
}

.button-filter .button-item:not(:last-child){
    margin-right: 24px;
}

.examples-item {
    display: block;

}

.examples-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 72px;
    row-gap: 48px;
    column-gap: 24px;
    flex-basis: calc((100%-48px)/3);
}

.example {
    display: block;
    position: relative;
    transition: box-shadow 250ms var(--cubic);
}

.example .text {
    padding-left: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.example-thumb {
    position: relative;
    overflow: hidden;
}

.example-cover-text {
    position: absolute;
    top: 0;
    height: 100%;
    padding: 40px 32px;
    

    color: var(--light);
    background-color: var(--primary-brand);
    line-height: 1.5;
    letter-spacing: 0.02em;

    transform: translateY(100%);
    transition: transform 250ms var(--cubic);

}


.example:hover,
.example:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.example:hover .example-cover-text,
.example:focus .example-cover-text {
    transform: translateY(0);
}


/* КНОПКИ */
.hero-button {
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    color: var(--basik-white);
    background: var(--primary-brand);
    padding: 16px 32px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 48px;
    transition: background 250ms var(--cubic);
}

.hero-button:hover,
.hero-button:focus {
    background: var(--pressed-state);
}

.button {
    font-family: Roboto, sans-serif;
    color: var(--primary-brand);
    background: var(--light);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    transition: color 250ms var(--cubic), background 250ms var(--cubic), box-shadow 250ms var(--cubic), border-color 250ms var(--cubic);

}

.button:hover,
.button:focus {
    color: var(--basik-white);
    background: var(--pressed-state);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-color: var(--pressed-state);
}



/*-----------MODAL----------*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;

    background: rgba(46, 47, 66, 0.4);

    transition: opacity 300ms var(--cubic);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: inherit;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.7);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    height: 576px;
    padding: 72px 24px 24px 24px;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    
    transition: transform 300ms var(--cubic);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

.modal-close-btn-icon {


}


.form-list {
    margin-top: 16px;
}

.form-item {
    display: flex;
    flex-direction: column;
}

.form-item:not(:first-child) {
    margin-top: 8px;
}
